.places__paragraph {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  grid-area: text;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1056px) {
  .places__paragraph {
    max-width: 456px;
  }
}

@media screen and (max-width: 940px) {
  .places__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 568px) {
  .places__paragraph {
    padding-left: 16px;
    padding-right: 16px;
  }
}