.cover {
  width: 1184px;
  min-height: 740px;
  margin-top: 0;
  padding-bottom: 92px;
  padding-top: 92px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

@media screen and (max-width: 1210px) {
  .cover {
    max-width: 1024px;
    min-height: 640px;
  }
}

@media screen and (max-width: 1056px) {
  .cover {
    max-width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 798px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 565px) {
  .cover {
    max-width: 320px;
    min-height: 200px;
    padding-bottom: 64px;
  }
}