.place__url-heading {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #AAAAAA;
  grid-area: url;
  margin: 0;
  padding-bottom: 12px;
  max-width: 352px;
}