.header__lang-link-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  vertical-align: middle;
  margin-top: 46px;
}

@media screen and (max-width: 450px) {
  .header__lang-link-list {
    margin-top: 30px;
    margin-bottom: auto;
  }
}