.place {
  display: grid;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 984px;
  height: 100%;
  grid-template-areas:
    "title url"
    "img text";
  grid-template-rows: 152px 460px;
  grid-template-columns: 460px 484px;
  row-gap: 48px;
  column-gap: 40px;
}

.place__item:last-of-type {
  margin-bottom: 80px;
}

.place__item:nth-of-type(6) {
  padding-top: 80px;
}

@media screen and (max-width: 1140px) {
  .place__item {
    padding-left: 48px;
    padding-right: 48px;
    column-gap: 32px;
    grid-template-columns: 460px 456px;
  }
}