.place__item {
  display: grid;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 984px;
  height: 100%;
  grid-template-areas:
    "title url"
    "img text";
  grid-template-rows: 152px 460px;
  grid-template-columns: 460px 484px;
  row-gap: 48px;
  column-gap: 40px;
}

@media screen and (max-width: 940px) {
  .place__item {
    padding-left: 48px;
    padding-right: 48px;
    grid-template-columns: 460px 456px;
  }
}