.places__item {
  display: grid;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 984px;
  padding: 0;
  grid-template-areas:
    "title url"
    "img text";
  grid-template-rows: 152px 460px;
  grid-template-columns: 460px 484px;
  row-gap: 48px;
  column-gap: 40px;
}

.places__item:nth-of-type(2){
  grid-template-rows: 76px 460px;
}

.places__item:nth-of-type(3){
  grid-template-rows: 76px 460px;
}

.places__item:nth-of-type(5){
  grid-template-rows: 76px 460px;
}

@media screen and (max-width: 1056px) {
  .places__item {
    grid-template-rows: max-content 440px;
    grid-template-columns: 440px 456px;
    column-gap: 28px;
    row-gap: 48px;
    padding: 0;
    margin: 0;
    justify-content: center;
  }
  .places__item:nth-of-type(2){
    grid-template-rows: 76px 440px;
  }
  
  .places__item:nth-of-type(3){
    grid-template-rows: 76px 440px;
  }
  
  .places__item:nth-of-type(5){
    grid-template-rows: 76px 440px;
  }

  .places__item:last-of-type{
    margin-bottom: 92px;
  }
}

  @media screen and (max-width: 940px) {
    .places__item {
      grid-template-columns: 340px 352px;
      grid-template-rows: 46px 441px;
    }

    .places__item:nth-of-type(2){
      grid-template-rows: 46px 441px;
    }

    .places__item:nth-of-type(3){
      grid-template-rows: 46px 389px;
    }

    .places__item:nth-of-type(4){
      grid-template-rows: 46px 340px;
    }

    .places__item:last-of-type{
      margin-bottom: 90px;
      grid-template-rows: 46px 390px;
    }
  }

  @media screen and (max-width: 765px) {
    .places__item {
      padding-top: 0;
      grid-template-columns: 320px;
      grid-template-rows: 35px 46px 320px 545px;
      row-gap: 32px;
      padding-left: 0px;
      padding-right: 0px;
      grid-template-areas:
        "title"
        "url"
        "img"
        "text";
    }

    .places__item:nth-of-type(2){
      grid-template-rows: 35px 46px 320px 519px;
    }

    .places__item:nth-of-type(3){
      grid-template-rows: 35px 46px 320px 493px;
    }

    .places__item:nth-of-type(4){
      grid-template-rows: 35px 46px 320px 449px;
    }

    .places__item:last-of-type {
      margin-bottom: 66px;
      grid-template-rows: 35px 46px 320px 468px;
    }
  }